.detail {    
  position: absolute;
  left: 37%;
  border: 2px solid rgba(230, 125, 19, 0.876);
  width: 22%;
  font-size: 8px;
  padding: 8px;
  margin: 14px;
  background-color: rgb(143, 238, 132);
  border-radius:20px; 
  justify-content: center;
  align-items: center;
  
  
}

  

  img{
    width: 80%;
    border-radius: 20px;
  }

  .fondo{
    background-image: url('./img/2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
  }

  .white{
    color: white;
  }
